server:
  port: 8000

spring:
  application:
    name: saga-orchestrator

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
