server:
  port: 8000

spring:
  application:
    name: saga-orchestrator
  datasource:
    url: jdbc:mysql://localhost:3315/saga_orchestrator
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
