networks:
  ecommerce:
    external: true

services:
  product-db:
    image: mysql:8
    container_name: product_db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: product_db
    ports:
      - "3307:3306"
    networks:
      - ecommerce
