networks:
  ecommerce:
    external: true

services:
  order-db:
    image: mysql:8
    container_name: order_db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: order_db
    ports:
      - "3308:3306"
    networks:
      - ecommerce
