networks:
  ecommerce:
    external: true

services:
  user-db:
    image: mysql:8
    container_name: user_db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: user_db
    ports:
      - "3306:3306"
    networks:
      - ecommerce

  product-db:
    image: mysql:8
    container_name: product_db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: product_db
    ports:
      - "3307:3306"
    networks:
      - ecommerce

  order-db:
    image: mysql:8
    container_name: order_db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: order_db
    ports:
      - "3308:3306"
    networks:
      - ecommerce
